<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<button class="btn btn-primary" (click)="onLoadServers()">Load Servers</button>
<button class="btn btn-info" (click)="onLoadServer(1)">Load Server (1)</button>

<button class="btn btn-primary" (click)="onLogin()">Login</button>
<button class="btn btn-primary" (click)="onLogout()">Logout</button>
